#mybody{
    background-color: rgb(110, 177, 11);
}
#myh1{
    color: rgb(247, 5, 247);
    text-align: center;
    font-size: 40px;
font-family: cursive;
}
#myh2{
    color: red;
    text-align: left;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#myh3{
    color: rgb(247, 165, 3);
    text-align: right;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#myh4{
    color: rgb(239, 243, 6);
    text-align: center;
    font-size: 40px;
font-family: cursive;
}
#myh5{
    color: rgb(22, 2, 207);
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#myh6{
    color: rgb(134, 93, 10);
    text-align: right;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#mydiv{
    background-color: aliceblue;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.biografia{
    background-color: aliceblue;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.dato{
    margin: 10px 0;
    font-size: 18px;
}
.etiqueta{
    font-weight: bold;
    color: #555;
}
.valor{
    color: #222;
}